# Utilizando módulo Olho Vivo API

Módulos necessários até o momento:
- python-dotenv
- requests
- pandas

Para instalar no ambiente:
```
pip install python-dotenv requests pandas
```

---

In [13]:
# Importa dependências

import os
from dotenv import load_dotenv

# Importa o módulo api_olhovivo e autentica no Olho Vivo API
import sys
sys.path.insert(0, '../modules')
import api_olhovivo

Aqui é importante que seja copiado manualmente o arquivo .env com o TOKEN de acesso para a API do Olho Vivo.

Ref: https://www.sptrans.com.br/desenvolvedores/api-do-olho-vivo-guia-de-referencia/

In [14]:
load_dotenv()  # Carrega as variáveis de ambiente do arquivo .env
# Acesse o token de API do arquivo .env
api_token = os.getenv("API_TOKEN")
print(api_token)
api = api_olhovivo.OlhoVivoAPI(api_token)

22e21306fc774df9d60566545445aa48cb7cee514ffe1d0725d2fdbe2472352d
Autenticação bem-sucedida!

---

### Buscar informação de Linha de Ônibus
#### Argumento
- **termosBusca** (str): Aceita denominação ou número da linha (total ou parcial).
Exemplo: 8000, Lapa ou Ramos

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cl** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação)
- **lc** (bool): Indica se uma linha opera no modo circular (sem um terminal secundário)
- **lt** (string): Informa a primeira parte do letreiro numérico da linha
- **tl** (int): Informa a segunda parte do letreiro numérico da linha, que indica se a linha opera nos modos: BASE (10), ATENDIMENTO (21, 23, 32, 41)
- **sl** (int): Informa o sentido ao qual a linha atende, onde 1 significa Terminal Principal para Terminal Secundário e 2 para Terminal Secundário para Terminal Principal
- **tp** (string): Informa o letreiro descritivo da linha no sentido Terminal Principal para Terminal Secundário
- **ts** (string): Informa o letreiro descritivo da linha no sentido Terminal Secundário para Terminal Principal

In [12]:
# Faz uma chamada para obter informações sobre a linha 8040
# info_linha = api.buscar_linha('8040')
info_linha = api.buscar_linha('Universitária')
print(info_linha)
if info_linha==[]:
    print('Veio vazio')

# Imprime  informações sobre a linha 8040
import pandas as pd
df_info_linhas = pd.DataFrame(info_linha)
df_info_linhas

[{'cl': 630, 'lc': False, 'lt': '177H', 'sl': 1, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ SANTANA'}, {'cl': 33398, 'lc': False, 'lt': '177H', 'sl': 2, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ SANTANA'}, {'cl': 657, 'lc': False, 'lt': '701U', 'sl': 1, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ SANTANA'}, {'cl': 33425, 'lc': False, 'lt': '701U', 'sl': 2, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ SANTANA'}, {'cl': 2023, 'lc': False, 'lt': '8012', 'sl': 1, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ BUTANTÃ'}, {'cl': 34791, 'lc': False, 'lt': '8012', 'sl': 2, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ BUTANTÃ'}, {'cl': 2085, 'lc': False, 'lt': '8022', 'sl': 1, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ BUTANTÃ'}, {'cl': 34853, 'lc': False, 'lt': '8022', 'sl': 2, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ BUTANTÃ'}, {'cl': 2545, 'lc': True, 'lt': '8032', 'sl': 1, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ BUTANTÃ'}, {'cl': 35313, 'lc': True, 'lt': '8032', 'sl': 2, 'tl': 10, 'tp': 'CID. UNIVERSITÁRIA', 'ts': 'METRÔ BUTANTÃ'}, {'cl': 1330, 'lc': False, 'lt': '702U', 'sl': 1, 'tl': 10, 'tp': 'TERM. PQ. D. PEDRO II', 'ts': 'CID. UNIVERSITÁRIA'}, {'cl': 34098, 'lc': False, 'lt': '702U', 'sl': 2, 'tl': 10, 'tp': 'TERM. PQ. D. PEDRO II', 'ts': 'CID. UNIVERSITÁRIA'}, {'cl': 1332, 'lc': False, 'lt': '7181', 'sl': 1, 'tl': 10, 'tp': 'TERM. PRINC. ISABEL', 'ts': 'CID. UNIVERSITÁRIA'}, {'cl': 34100, 'lc': False, 'lt': '7181', 'sl': 2, 'tl': 10, 'tp': 'TERM. PRINC. ISABEL', 'ts': 'CID. UNIVERSITÁRIA'}, {'cl': 1376, 'lc': True, 'lt': '7411', 'sl': 1, 'tl': 10, 'tp': 'PÇA. DA SÉ', 'ts': 'CID. UNIVERSITÁRIA'}, {'cl': 34144, 'lc': True, 'lt': '7411', 'sl': 2, 'tl': 10, 'tp': 'PÇA. DA SÉ', 'ts': 'CID. UNIVERSITÁRIA'}, {'cl': 2254, 'lc': False, 'lt': '809U', 'sl': 1, 'tl': 10, 'tp': 'METRÔ BARRA FUNDA', 'ts': 'CID. UNIVERSITÁRIA'}, {'cl': 35022, 'lc': False, 'lt': '809U', 'sl': 2, 'tl': 10, 'tp': 'METRÔ BARRA FUNDA', 'ts': 'CID. UNIVERSITÁRIA'}]

       cl     lc    lt  sl  tl                     tp                  ts
0     630  False  177H   1  10     CID. UNIVERSITÁRIA       METRÔ SANTANA
1   33398  False  177H   2  10     CID. UNIVERSITÁRIA       METRÔ SANTANA
2     657  False  701U   1  10     CID. UNIVERSITÁRIA       METRÔ SANTANA
3   33425  False  701U   2  10     CID. UNIVERSITÁRIA       METRÔ SANTANA
4    2023  False  8012   1  10     CID. UNIVERSITÁRIA       METRÔ BUTANTÃ
5   34791  False  8012   2  10     CID. UNIVERSITÁRIA       METRÔ BUTANTÃ
6    2085  False  8022   1  10     CID. UNIVERSITÁRIA       METRÔ BUTANTÃ
7   34853  False  8022   2  10     CID. UNIVERSITÁRIA       METRÔ BUTANTÃ
8    2545   True  8032   1  10     CID. UNIVERSITÁRIA       METRÔ BUTANTÃ
9   35313   True  8032   2  10     CID. UNIVERSITÁRIA       METRÔ BUTANTÃ
10   1330  False  702U   1  10  TERM. PQ. D. PEDRO II  CID. UNIVERSITÁRIA
11  34098  False  702U   2  10  TERM. PQ. D. PEDRO II  CID. UNIVERSITÁRIA
12   1332  False  7181   1  10    TERM. PRINC. ISABEL  CID. UNIVERSITÁRIA
13  34100  False  7181   2  10    TERM. PRINC. ISABEL  CID. UNIVERSITÁRIA
14   1376   True  7411   1  10             PÇA. DA SÉ  CID. UNIVERSITÁRIA
15  34144   True  7411   2  10             PÇA. DA SÉ  CID. UNIVERSITÁRIA
16   2254  False  809U   1  10      METRÔ BARRA FUNDA  CID. UNIVERSITÁRIA
17  35022  False  809U   2  10      METRÔ BARRA FUNDA  CID. UNIVERSITÁRIA

---

### Buscar informação de Linha de Ônibus em sentido específico
Realiza uma busca das linhas do sistema com base no sentido da linha. Se a linha não é encontrada então é realizada uma busca fonetizada na denominação das linhas.

#### Argumento
- **codigoLinha** (str): O código da linha.
- **sentido** (str): O sentido da linha (1- ida ou 2-volta).

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cl** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação)
- **lc** (bool): Indica se uma linha opera no modo circular (sem um terminal secundário)
- **lt** (string): Informa a primeira parte do letreiro numérico da linha
- **tl** (int): Informa a segunda parte do letreiro numérico da linha, que indica se a linha opera nos modos: BASE (10), ATENDIMENTO (21, 23, 32, 41)
- **sl** (int): Informa o sentido ao qual a linha atende, onde 1 significa Terminal Principal para Terminal Secundário e 2 para Terminal Secundário para Terminal Principal
- **tp** (string): Informa o letreiro descritivo da linha no sentido Terminal Principal para Terminal Secundário
- **ts** (string): Informa o letreiro descritivo da linha no sentido Terminal Secundário para Terminal Principal

In [4]:
# Faz uma chamada para buscar informações sobre o sentido da linha 8040
info_linha_sentido = api.buscar_linha_sentido('8040','1')


# Imprime  informações sobre a linha 8040
import pandas as pd
df_info_linha_sentido = pd.DataFrame(info_linha_sentido)
df_info_linha_sentido

    cl     lc    lt  sl  tl          tp            ts
0  406  False  8040   1  10  TERM. LAPA  SOL NASCENTE

---

### Buscar paradas
Realiza uma busca fonética das paradas de ônibus do sistema com base no parâmetro informado. A consulta é realizada no nome da parada e também no seu endereço de localização.
        
#### Argumentos:
- **termosBusca** (str): Aceita nome da parada ou endereço de localização (total ou parcial).
Exemplo: Afonso, ou Balthazar da Veiga

#### Retorno:
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cp** (int): Código identificador da parada
- **np** (string): Nome da parada
- **ed** (string): Endereço de localização da parada
- **py** (double): Latitude da parada
- **px** (double): Longitude da parada

In [5]:
# Faz uma chamada para buscar informações sobre todas as paradas
info_paradas = api.buscar_parada('Ciencia')


# Imprime  informações sobre a linha 8040
import pandas as pd
df_info_paradas = pd.DataFrame(info_paradas)
df_info_paradas

          cp           np                    ed         py         px
0  480014611  CIENCIA C/B  R SCIPIAO/ R AURELIA -23.521284 -46.698763

---

### Busca parada por Linha (Não está funcionando)
Realiza uma busca por todos os pontos de parada atendidos por uma determinada linha.

#### Argumento
- **codigoLinha** (str): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido) e pode ser obtido através do método buscar_linha da categoria Linhas

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cp** (int): Código identificador da parada
- **np** (string): Nome da parada
- **ed** (string): Endereço de localização da parada
- **py** (double): Latitude da parada
- **px** (double): Longitude da parada

In [9]:
# Faz uma chamada para buscar informações sobre as paradas da linha 8022
info_linha = api.buscar_linha('8022')
codigo_linha = info_linha[0]['cl']

info_paradas_linha = api.buscar_paradas_por_linha('406')


print(codigo_linha)
print(info_paradas_linha)

2085
[]

---

### Buscar Corredores Inteligentes
Retorna uma lista com todos os corredores inteligentes.

#### Retorno:
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cc** (int): Código identificador da corredor. Este é um código identificador único de cada corredor inteligente do sistema
- **nc** (string): Nome do corredor

In [9]:
# Faz uma chamada para buscar informações sobre as paradas do corredor
corredores = api.buscar_corredores_inteligentes()


# Imprime  informações de corredores
import pandas as pd
df_corredores = pd.DataFrame(corredores)
df_corredores

   cc                   nc
0   8          Campo Limpo
1   9  Expresso Tiradentes
2   3      Inajar de Souza
3   7          Parelheiros
4   1             Pirituba
5   2          Santo Amaro
6  10       Paes de Barros

---

### Buscar Paradas em Corredor
Retorna a lista detalhada de todas as paradas que compõem um determinado corredor.

#### Argumento
- **codigoCorredor** (str): Código identificador do corredor. Este é um código identificador único de cada corredor do sistema e pode ser obtido através do método buscar_corredores.

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cp** (int): Código indentificador da parada
- **np** (string): Nome da Parada
- **ed** (string): Endereço de localização da parada
- **py** (double): Informação de latitude da localização da parada
- **px** (double): Informação de longitude da localização da parada

In [8]:
# Faz uma chamada para buscar informações sobre as paradas do corredor 9
corredor = api.buscar_paradas_por_corredor('9')


# Imprime  informações de corredores
import pandas as pd
df_corredor = pd.DataFrame(corredor)
df_corredor

,cp,np,ed,py,px
0,3305795,CAY B/C,8000 - ESTACAO CAY BC,-23.574436,-46.603153
1,3305799,CAY C/B,8000 - ESTACAO CAY CB,-23.574453,-46.603180
2,1410076,ESTACAO ALBERTO LION B/C,6000 - ESTACAO ALBERTO LION BC,-23.564183,-46.611236
3,1410079,ESTACAO ALBERTO LION C/B,6000 - ESTACAO ALBERTO LION CB,-23.564195,-46.611271
4,1410078,ESTACAO ANA NERI C/B,5800 - ESTACAO ANA NERI CB,-23.559044,-46.614686
5,1410074,ESTAÇÃO METRÔ D. PEDRO B/C,5000 - ESTACAO METRO D. PEDRO BC,-23.550720,-46.626853
6,1410080,ESTAÇÃO METRÔ D. PEDRO C/B,5000 - ESTACAO METRO D. PEDRO CB,-23.550730,-46.626911
7,3305797,GRITO B/C,10000 - ESTACAO GRITO BC,-23.598138,-46.597172
8,3305801,GRITO C/B,10000 - ESTACAO GRITO CB,-23.598148,-46.597237
9,3305796,N.SRA APARECIDA B/C,9000 - ESTACAO NOSSA SENHORA DA APARECIDA (LEC...,-23.591353,-46.597779
10,3305800,N.SRA APARECIDA C/B,9000 - ESTACAO NOSSA SENHORA DA APARECIDA (LEC...,-23.591347,-46.597851

---

### Buscar Empresas
Retorna a lista de empresas operadoras de transporte disponíveis no sistema.

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **e** (dict): Dicionário com informações da Relação de empresas por área de operação, onde:
    - **a** (int): Código da área de operação
    - **e** (dict): Relação de empresa onde:
        - **a** (int): Código da área de operação
        - **c** (int): Código de referência da empresa
        - **n** (string): Nome da empresa

In [15]:
# Faz uma chamada para buscar informações sobre as empresas operadoras de transporte
empresas = api.buscar_empresas()
# print(empresas)

# Imprime  informações de empresas
import pandas as pd

def criar_dataframe_empresas(dados_api):
  """
  Cria um DataFrame com informações de empresas e área de atuação a partir de um dicionário da API Olho Vivo.

  Args:
    dados_api: Dicionário contendo informações de empresas e área de atuação.

  Returns:
    DataFrame com colunas 'hr', 'a', 'c' e 'n'.
  """

  # Extrair hora da consulta
  hora_consulta = dados_api['hr']

  # Lista para armazenar informações das empresas
  lista_empresas = []

  # Iterar sobre as áreas de operação e empresas
  for area_operacao in dados_api['e']:
    codigo_area = area_operacao['a']
    for empresa in area_operacao['e']:
      codigo_empresa = empresa['c']
      nome_empresa = empresa['n']

      # Adicionar informações à lista
      lista_empresas.append({'hr': hora_consulta, 'a': codigo_area, 'c': codigo_empresa, 'n': nome_empresa})

  # Criar DataFrame a partir da lista
  df_empresas = pd.DataFrame(lista_empresas, columns=['hr', 'a', 'c', 'n'])

  return df_empresas

df_empresas = criar_dataframe_empresas(empresas)
df_empresas

       hr  a    c                 n
0   23:03  1   37        GATO PRETO
1   23:03  1   38     SANTA BRIGIDA
2   23:03  1  232           Spencer
3   23:03  1  235   Norte Buss S.A.
4   23:03  2   92          SAMBAIBA
5   23:03  2  232           Spencer
6   23:03  2  235   Norte Buss S.A.
7   23:03  3   50  VIAÇÃO METRÓPOLE
8   23:03  3  218        TRANSUNIÃO
9   23:03  3  237        UPBUS S.A.
10  23:03  4   80    AMBIENTAL S.A.
11  23:03  4   82           EXPRESS
12  23:03  4  224           Pêssego
13  23:03  4  233           Allibus
14  23:03  5   51       VIA SUDESTE
15  23:03  5  218        TRANSUNIÃO
16  23:03  5  236          MOVEBUSS
17  23:03  6   53     VIAÇÃO GRAJAÚ
18  23:03  6   81        MOBIBRASIL
19  23:03  6  228        Transwolff
20  23:03  6  229    A2 Transportes
21  23:03  7   27        CAMPO BELO
22  23:03  7   50  VIAÇÃO METRÓPOLE
23  23:03  7   55              KBPX
24  23:03  7   95            GATUSA
25  23:03  7  228        Transwolff
26  23:03  8   37        GATO PRETO
27  23:03  8   89        TRANSPPASS
28  23:03  8  222      ALFA RODOBUS
29  23:03  8  230          Transcap

---

### Posição dos Veículos
Retorna uma lista completa com a última localização de todos os veículos mapeados com suas devidas posições lat / long

#### Retorno
Um dicionário Python contendo a resposta da API, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **l** (dict): Dicionário Python contendo a Relação de linhas localizadas onde:
    - **c** (string): Letreiro completo
    - **cl** (int): Código identificador da linha
    - **sl** (int): Sentido de operação onde 1 significa de Terminal Principal para Terminal Alternativo e 2 significa de Terminal Alternativo para Terminal Principal
    - **lt0** (string): Letreiro de destino da linha
    - **lt1** (string): Letreiro de origem da linha
    - **qv** (int): Quantidade de veículos localizados
    - **vs** (dict): Dicionário Python contendo a Relação de veículos localizados, onde:
        - p (int): Prefixo do veículo
        - **a** (bool): Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
        - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
        - **py** (double): Informação de latitude da localização do veículo
        - **px** (double): Informação de longitude da localização do veículo

### ToDo
- Verificar a necessidade de otimização na recuperação dos dados

In [16]:
# Retorna a Posição do Veículos
posicao_veiculos = api.posicao_veiculos()
# print(posicao_veiculos)

# Imprime informações sobre os Veículos
import pandas as pd

def criar_dataframe_veiculos(dados_api):
  """
  Cria um DataFrame com informações de veículos a partir de um dicionário da API Olho Vivo.

  Args:
    dados_api: Dicionário contendo informações de veículos.

  Returns:
    DataFrame com colunas 'hr', 'c', 'cl', 'sl', 'lt0', 'lt1', 'qv', 'p', 'a', 'ta', 'py', 'px'.
  """

  # Extrair hora da consulta
  hora_consulta = dados_api['hr']

  # Lista para armazenar informações dos veículos
  lista_veiculos = []

  # Iterar sobre as linhas e veículos
  for linha in dados_api['l']:
    codigo_linha = linha['c']
    codigo_linha_circular = linha['cl']
    sentido_linha = linha['sl']
    letreiro_0 = linha['lt0']
    letreiro_1 = linha['lt1']
    quantidade_veiculos = linha['qv']

    for veiculo in linha['vs']:
      prefixo = veiculo['p']
      acessivel = veiculo['a']
      data_hora = veiculo['ta']
      latitude = veiculo['py']
      longitude = veiculo['px']

      # Adicionar informações à lista
      lista_veiculos.append({
          'hr': hora_consulta, 
          'c': codigo_linha, 
          'cl': codigo_linha_circular,
          'sl': sentido_linha,
          'lt0': letreiro_0,
          'lt1': letreiro_1,
          'qv': quantidade_veiculos,
          'p': prefixo,
          'a': acessivel,
          'ta': data_hora,
          'py': latitude,
          'px': longitude
      })

  # Criar DataFrame a partir da lista
  df_veiculos = pd.DataFrame(lista_veiculos, columns=['hr', 'c', 'cl', 'sl', 'lt0', 'lt1', 'qv', 'p', 'a', 'ta', 'py', 'px'])

  return df_veiculos

df_veiculos = criar_dataframe_veiculos(posicao_veiculos)
df_veiculos

,hr,c,cl,sl,lt0,lt1,qv,p,a,ta,py,px
0,23:03,1730-10,33633,2,METRÔ SANTANA,CENTER NORTE,2,26495,True,2024-05-02T02:03:44Z,-23.517136,-46.609186
1,23:03,1730-10,33633,2,METRÔ SANTANA,CENTER NORTE,2,26309,True,2024-05-02T02:03:36Z,-23.514648,-46.616278
2,23:03,809L-10,1949,1,LAPA,CAMPO LIMPO,2,85607,True,2024-05-02T02:03:49Z,-23.630474,-46.770542
3,23:03,809L-10,1949,1,LAPA,CAMPO LIMPO,2,85687,True,2024-05-02T02:03:33Z,-23.631501,-46.773324
4,23:03,1701-23,35367,2,METRÔ SANTANA,JOVA RURAL,3,26133,True,2024-05-02T02:03:29Z,-23.483215,-46.606425
...,...,...,...,...,...,...,...,...,...,...,...,...
4331,23:03,677A-10,1239,1,ITAIM BIBI,TERM. JD. ÂNGELA,1,73922,True,2024-05-02T02:03:45Z,-23.651922,-46.721616
4332,23:03,N337-11,2349,1,JD. CAMARGO VELHO,TERM. SÃO MIGUEL,1,32144,True,2024-05-02T02:03:23Z,-23.518867,-46.387591
4333,23:03,8022-10,34853,2,CID. UNIVERSITÁRIA,METRÔ BUTANTÃ,1,82573,True,2024-05-02T02:03:16Z,-23.568457,-46.730059
4334,23:03,3025-10,33729,2,CPTM GUAIANASES,JD. WILMA FLOR,1,47236,True,2024-05-02T02:03:40Z,-23.564143,-46.409728
4335,23:03,6080-10,33936,2,SHOP. INTERLAGOS,JD. LUCÉLIA,1,66737,True,2024-05-02T02:03:24Z,-23.713038,-46.698540

---

### Posição da Linha
Retorna uma lista com todos os veículos de uma determinada linha com suas devidas posições lat / long

#### Argumento
- **codigoLinha** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação) e pode ser obtido através do método buscar_linha.

#### Retorno:
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **vs** (dict): Relação de veículos localizados, onde:
    - **p** (int): Prefixo do veículo
    - **a** (bool): Relação de empresa
    - **a** (int):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
    - **c** (int):  Código de referência da empresa
    - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
    - **py** (double): Informação de latitude da localização da parada
    - **px** (double): Informação de longitude da localização da parada

In [11]:
# Faz chamada para buscar informações sobre as paradas da linha 8040
codigo_linha = api.buscar_linha('8040')[1]['cl']    # 0 significa que é a linha de ida e 1 a linha de volta
print(f"Código da Linha: {codigo_linha}")
posicao = api.posicao_linha(codigo_linha)

# Imprime  informações sobre a linha 8040
import pandas as pd
df_posicaoLinha = pd.DataFrame(posicao)
df_posicaoLinha

Código da Linha: 33174

      hr                                                 vs
0  23:05  {'p': '10546', 'a': True, 'ta': '2024-04-11T02...
1  23:05  {'p': '10545', 'a': True, 'ta': '2024-04-11T02...
2  23:05  {'p': '10604', 'a': True, 'ta': '2024-04-11T02...
3  23:05  {'p': '10548', 'a': True, 'ta': '2024-04-11T02...
4  23:05  {'p': '10542', 'a': True, 'ta': '2024-04-11T02...

---

### Posição dos veículos da Empresa na Garagem
Retorna uma lista com todos os veículos de uma determinada empresa em suas respectivas garagens

#### Argumento
- **codigoEmpresa** (int): Código identificador da empresa. Este é um código identificador único que
                    -pode ser obtido através do método buscar_empresas.
- **codigoLinha** (int, opcional): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação) e pode ser obtido através do método buscar_linha. Se não for informado, a API retornará todos os veículos da empresa.

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **l** (dict): Relação de linhas localizadas onde:
    - **c** (string):   Letreiro completo
    - **cl** (int):  Código identificador da linha
    - **sl** (int):  Sentido de operação onde 1 significa de Terminal Principal para Terminal Secundário e 2 de Terminal Secundário para Terminal Principal
    - **lt0** (string): Letreiro de destino da linha
    - **lt1** (string): Letreiro de origem da linha
    - **qv** (int):  Quantidade de veículos localizados
    - **vs** (dict): Relação de veículos localizados, onde:
        - **p** (int):  Prefixo do veículo
        - **a** (bool):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
        - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
        - **py** (double): Informação de latitude da localização do veículo
        - **px** (double): Informação de longitude da localização do veículo

In [12]:
# Funções auxiliares
import pandas as pd

def extrair_dados_empresas(resposta_api):
    """
    Extrai os dados das empresas da resposta da API.

    Parâmetros:
        resposta_api (dict): A resposta da API.

    Retorna:
        list: Uma lista de dicionários, cada um representando uma empresa.
    """
    dados_empresas = []  # Lista para armazenar os dados das empresas
    
    # Iterando sobre a resposta para extrair os dados
    for area in resposta_api["e"]:
        for empresa in area["e"]:
            # Cria um dicionário com os dados de cada empresa e adiciona à lista
            dados_empresas.append({"c": empresa["c"], "n": empresa["n"]})
    
    return dados_empresas

def criar_dataframe_empresas(dados_empresas):
    """
    Cria um DataFrame a partir de uma lista de dicionários com dados das empresas.

    Parâmetros:
        dados_empresas (list): Lista de dicionários com dados das empresas.

    Retorna:
        DataFrame: Um DataFrame contendo os dados das empresas.
    """
    return pd.DataFrame(dados_empresas)

# Faz uma chamada para buscar informações sobre as empresas operadoras de transporte
empresas = api.buscar_empresas()

dados_empresas = extrair_dados_empresas(empresas)
# print(dados_empresas)
df_dados_empresas = criar_dataframe_empresas(dados_empresas)

# Exibir o novo DataFrame contendo as informações de 'c' e 'n'
print(df_dados_empresas.head())

# Recupera Posição da Linha na garagem
nome_empresa = dados_empresas[4]['n']
codigo_empresa = dados_empresas[4]['c']

# Recupera código de uma linha (178L-10)
linha = '178L'
codigo_linha = api.buscar_linha(linha)[1]['cl']    # 0 significa que é a linha de ida e 1 a linha de volta

print(f"\nCódigo da empresa {nome_empresa}: {codigo_empresa}\n")
print(f"Código da Linha {linha}: {codigo_linha}\n")

# Chamada para recuperar a posição dos veículos de uma empresa na garagem (opcionalmente pode ter a linha também)
posicao = api.posicao_garagem(codigo_empresa, codigo_linha)
# print(posicao)

df_posicao = pd.DataFrame(posicao)
df_posicao

     c                n
0   37       GATO PRETO
1   38    SANTA BRIGIDA
2  232          Spencer
3  235  Norte Buss S.A.
4   92         SAMBAIBA

Código da empresa SAMBAIBA: 92

Código da Linha 178L: 33328

      hr                                                  l
0  23:05  {'c': '178L-10', 'cl': 33328, 'sl': 2, 'lt0': ...

---

### Previsão de Chegada

Retorna uma lista com a previsão de chegada dos veículos da linha informada que atende ao ponto de parada informado.

#### Argumento
- **codigoParada** (int): Código identificador da parada. Este é um código identificador único de cada ponto de parada do sistema (por sentido) e pode ser obtido através do método buscar_paradas
- **codigoLinha** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido) e pode ser obtido através do método buscar_linha

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **p** (dict):  Representa um ponto de parada onde:
    - **cp** (int):  Código identificador da parada
    - **np** (string):  Nome da parada
    - **py** (double): Informação de latitude da localização do veículo
    - **px** (double): Informação de longitude da localização do veículo
    - **l** (dict): Relação de veículos localizados, onde:
        - **c** (string):  Letreiro completo
        - **cl** (int):  Código identificador da linha
        - **sl** (int):  Sentido de operação onde 1 significa de Terminal Principal para Terminal Secundário e 2 de Terminal Secundário para Terminal Principal
        - **lt0** (string): Letreiro de destino da linha
        - **lt1** (string): Letreiro de origem da linha
        - **qv** (int):  Quantidade de veículos localizados
        - **vs** (dict):  Relação de veículos localizados, onde:
            - **p** (int):  Prefixo do veículo
            - **t** (string):  Horário previsto para chegada do veículo no ponto de parada relacionado
            - **a** (bool):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
            - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
            - **py** (double): Informação de latitude da localização do veículo
            - **px** (double): Informação de longitude da localização do veículo

In [13]:
# Faz uma chamada para buscar informações sobre parada específica
codigo_parada = api.buscar_paradas('Duilio')
# print(codigo_parada)
codigo_parada = codigo_parada[0]['cp']

# Faz uma chamada para buscar informações sobre o sentido da linha 8622
codigo_linha_sentido = api.buscar_linha_sentido('8622','2')
# print(codigo_linha_sentido)
codigo_linha_sentido = codigo_linha_sentido[0]['cl']

# Faz chamada para buscar Previsão de Chegada
previsao = api.previsao_chegada(codigo_parada, codigo_linha_sentido)
# print(codigo_parada)
# print(codigo_linha_sentido)
print(previsao)

# Imprime  informações sobre previsão de chegada da linha 8622 na parada Duílio
import pandas as pd
df_previsao = pd.DataFrame(previsao)
df_previsao

{'hr': '23:05', 'p': {'cp': 480014609, 'np': 'DUILIO C/B', 'py': -23.522627, 'px': -46.692121, 'l': [{'c': '8622-10', 'cl': 33206, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': 'MORRO DOCE', 'qv': 1, 'vs': [{'p': '11115', 't': '23:18', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}]}}

       hr                                                  p
cp  23:05                                          480014609
np  23:05                                         DUILIO C/B
py  23:05                                         -23.522627
px  23:05                                         -46.692121
l   23:05  [{'c': '8622-10', 'cl': 33206, 'sl': 2, 'lt0':...

---

### Previsão de Chegada da Linha em todas as suas paradas
Retorna uma lista com a previsão de chegada de cada um dos veículos da linha informada em todos os pontos de parada aos quais que ela atende.

#### Argumento
- **codigoLinha** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido) e pode ser obtido através do método buscar_linha

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **ps** (dict): Representa uma relação de pontos de parada onde:
    - **cp** (int): Código identificador da parada
    - **np** (string): Nome da parada
    - **py** (double): Informação de latitude da localização do veículo
    - **px** (double): Informação de longitude da localização do veículo
    - **vs** (dict): Relação de veículos localizados, onde:
        - **p** (int):  Prefixo do veículo
        - **t** (string):  Horário previsto para chegada do veículo no ponto de parada relacionado
        - **a** (bool):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
        - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
        - **py** (double): Informação de latitude da localização do veículo
        - **px** (double): Informação de longitude da localização do veículo

In [14]:
# Faz uma chamada para buscar informações sobre o sentido da linha 8622
codigo_linha_sentido = api.buscar_linha_sentido('8622','2')
# print(codigo_linha_sentido)
codigo_linha_sentido = codigo_linha_sentido[0]['cl']


# Faz chamada para buscar Previsão de Chegada da Linha em suas paradas
previsao_linha = api.previsao_chegada_linha(codigo_linha_sentido)
# print(codigo_linha_sentido)
print(previsao_linha)

# Imprime  informações sobre previsão de chegada da linha 8622 na parada Duílio
import pandas as pd
df_previsao_linha = pd.DataFrame(previsao_linha)
df_previsao_linha

{'hr': '23:05', 'ps': [{'cp': 700016624, 'np': 'ANA CINTRA C/B', 'py': -23.538357, 'px': -46.64733, 'vs': []}, {'cp': 7014416, 'np': 'ANGELICA C/B', 'py': -23.534377, 'px': -46.654322, 'vs': [{'p': '11115', 't': '23:07', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 60016785, 'np': 'ANTARTICA C/B', 'py': -23.52622, 'px': -46.674187, 'vs': [{'p': '11115', 't': '23:13', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 614432, 'np': 'BABY BARIONY C/B', 'py': -23.527608, 'px': -46.671511, 'vs': [{'p': '11115', 't': '23:12', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 480014609, 'np': 'DUILIO C/B', 'py': -23.522627, 'px': -46.692121, 'vs': [{'p': '11115', 't': '23:18', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 700016865, 'np': 'NOTHMANN C/B', 'py': -23.536498, 'px': -46.650579, 'vs': [{'p': '11115', 't': '23:06', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 700016792, 'np': 'PACAEMBU C/B', 'py': -23.531864, 'px': -46.660859, 'vs': [{'p': '11115', 't': '23:10', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 60016783, 'np': 'PARADA PALMEIRAS C/B', 'py': -23.525653, 'px': -46.679493, 'vs': [{'p': '11115', 't': '23:15', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 60016789, 'np': 'PQ. DA ÁGUA BRANCA C/B', 'py': -23.529636, 'px': -46.667777, 'vs': [{'p': '11115', 't': '23:11', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 700006085, 'np': 'ROSA E SILVA C/B', 'py': -23.532629, 'px': -46.657465, 'vs': [{'p': '11115', 't': '23:09', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 60014604, 'np': 'SESC POMPEIA C/B', 'py': -23.525262, 'px': -46.682254, 'vs': [{'p': '11115', 't': '23:16', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 480014610, 'np': 'TENDAL DA LAPA C/B', 'py': -23.522339, 'px': -46.696246, 'vs': [{'p': '11069', 't': '23:06', 'a': True, 'ta': '2024-04-11T02:04:54Z', 'py': -23.522713333333332, 'px': -46.692069999999994, 'sv': None, 'is': None}, {'p': '11115', 't': '23:20', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'cp': 480014608, 'np': 'TIBERIO C/B', 'py': -23.522875, 'px': -46.688219, 'vs': [{'p': '11115', 't': '23:18', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}]}

       hr                                                 ps
0   23:05  {'cp': 700016624, 'np': 'ANA CINTRA C/B', 'py'...
1   23:05  {'cp': 7014416, 'np': 'ANGELICA C/B', 'py': -2...
2   23:05  {'cp': 60016785, 'np': 'ANTARTICA C/B', 'py': ...
3   23:05  {'cp': 614432, 'np': 'BABY BARIONY C/B', 'py':...
4   23:05  {'cp': 480014609, 'np': 'DUILIO C/B', 'py': -2...
5   23:05  {'cp': 700016865, 'np': 'NOTHMANN C/B', 'py': ...
6   23:05  {'cp': 700016792, 'np': 'PACAEMBU C/B', 'py': ...
7   23:05  {'cp': 60016783, 'np': 'PARADA PALMEIRAS C/B',...
8   23:05  {'cp': 60016789, 'np': 'PQ. DA ÁGUA BRANCA C/B...
9   23:05  {'cp': 700006085, 'np': 'ROSA E SILVA C/B', 'p...
10  23:05  {'cp': 60014604, 'np': 'SESC POMPEIA C/B', 'py...
11  23:05  {'cp': 480014610, 'np': 'TENDAL DA LAPA C/B', ...
12  23:05  {'cp': 480014608, 'np': 'TIBERIO C/B', 'py': -...

---

### Previsão de Chegada de Cada Linha na Parada

Retorna uma lista com a previsão de chegada dos veículos de cada uma das linhas que atendem ao ponto de parada informado.

#### Argumento
- **codigoParada** (int): Código identificador da parada. Este é um código identificador único de cada ponto de parada do sistema (por sentido) e pode ser obtido através do método buscar_paradas

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **p** (dict): Representa um ponto de parada onde:
    - **cp** (int): Código identificador da parada
    - **np** (string): Nome da parada
    - **py** (double): Informação de latitude da localização do veículo
    - **px** (double): Informação de longitude da localização do veículo
    - **l** (dict): Relação de linhas localizadas onde:
        - **c** (string):  Letreiro completo
        - **cl** (int):  Código identificador da linha
        - **sl** (int):  Sentido de operação onde 1 significa de Terminal Principal para Terminal Secundário e 2 de Terminal Secundário para Terminal Principal
        - **lt0** (string): Letreiro de destino da linha
        - **lt1** (string): Letreiro de origem da linha
        - **qv** (int):  Quantidade de veículos localizados
        - **vs** (dict): Relação de veículos localizados, onde:
            - **p** (int):  Prefixo do veículo
            - **t** (string):  Horário previsto para chegada do veículo no ponto de parada relacionado
            - **a** (bool):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
            - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
            - **py** (double): Informação de latitude da localização do veículo
            - **px** (double): Informação de longitude da localização do veículo

In [15]:
# Faz uma chamada para buscar informações sobre parada específica
codigo_parada = api.buscar_paradas('Duilio')
# print(codigo_parada)
codigo_parada = codigo_parada[0]['cp']

# Faz chamada para buscar Previsão de Chegada da Linha em parada específica
previsao = api.previsao_parada(codigo_parada)
print(previsao)

# Imprime  informações sobre previsão de chegada da linha 8622 na parada Duílio
import pandas as pd
df_previsao = pd.DataFrame(previsao)
df_previsao

{'hr': '23:05', 'p': {'cp': 480014609, 'np': 'DUILIO C/B', 'py': -23.522627, 'px': -46.692121, 'l': [{'c': '875H-10', 'cl': 34108, 'sl': 2, 'lt0': 'METRÔ VL. MARIANA', 'lt1': 'TERM. LAPA', 'qv': 2, 'vs': [{'p': '82775', 't': '23:07', 'a': True, 'ta': '2024-04-11T02:04:45Z', 'py': -23.524301666666663, 'px': -46.68382499999999, 'sv': None, 'is': None}, {'p': '82658', 't': '23:32', 'a': True, 'ta': '2024-04-11T02:04:33Z', 'py': -23.573201666666666, 'px': -46.64249333333334, 'sv': None, 'is': None}]}, {'c': '938P-10', 'cl': 33656, 'sl': 2, 'lt0': 'METRÔ BARRA FUNDA', 'lt1': 'JD. TEREZA', 'qv': 1, 'vs': [{'p': '16373', 't': '23:08', 'a': True, 'ta': '2024-04-11T02:04:36Z', 'py': -23.526585, 'px': -46.68215166666667, 'sv': None, 'is': None}]}, {'c': '978T-10', 'cl': 33657, 'sl': 2, 'lt0': 'METRÔ BARRA FUNDA', 'lt1': 'JD. GUARANI', 'qv': 1, 'vs': [{'p': '16634', 't': '23:08', 'a': True, 'ta': '2024-04-11T02:04:37Z', 'py': -23.52661666666667, 'px': -46.681928333333325, 'sv': None, 'is': None}]}, {'c': '856R-10', 'cl': 34196, 'sl': 2, 'lt0': 'SOCORRO', 'lt1': 'LAPA', 'qv': 5, 'vs': [{'p': '82563', 't': '23:08', 'a': True, 'ta': '2024-04-11T02:04:28Z', 'py': -23.526588333333333, 'px': -46.68204666666667, 'sv': None, 'is': None}, {'p': '82618', 't': '23:08', 'a': True, 'ta': '2024-04-11T02:04:32Z', 'py': -23.526633333333333, 'px': -46.68181333333334, 'sv': None, 'is': None}, {'p': '82704', 't': '23:28', 'a': True, 'ta': '2024-04-11T02:04:29Z', 'py': -23.562878333333334, 'px': -46.68631666666667, 'sv': None, 'is': None}, {'p': '82438', 't': '23:35', 'a': True, 'ta': '2024-04-11T02:04:42Z', 'py': -23.580013333333333, 'px': -46.68501333333334, 'sv': None, 'is': None}, {'p': '82621', 't': '00:06', 'a': True, 'ta': '2024-04-11T02:04:53Z', 'py': -23.663898333333336, 'px': -46.70813499999999, 'sv': None, 'is': None}]}, {'c': '8615-10', 'cl': 34107, 'sl': 2, 'lt0': 'TERM. PQ. D. PEDRO II', 'lt1': 'PQ. DA LAPA', 'qv': 2, 'vs': [{'p': '82410', 't': '23:09', 'a': True, 'ta': '2024-04-11T02:04:47Z', 'py': -23.526059999999998, 'px': -46.67696833333333, 'sv': None, 'is': None}, {'p': '82742', 't': '23:20', 'a': True, 'ta': '2024-04-11T02:04:49Z', 'py': -23.54026666666667, 'px': -46.64379, 'sv': None, 'is': None}]}, {'c': '8686-10', 'cl': 33214, 'sl': 2, 'lt0': 'LGO. DO PAISSANDÚ', 'lt1': 'MANGALOT', 'qv': 1, 'vs': [{'p': '11770', 't': '23:10', 'a': True, 'ta': '2024-04-11T02:04:32Z', 'py': -23.526191666666666, 'px': -46.67432833333334, 'sv': None, 'is': None}]}, {'c': '1896-10', 'cl': 35288, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': 'JARAGUÁ', 'qv': 1, 'vs': [{'p': '11461', 't': '23:13', 'a': True, 'ta': '2024-04-11T02:05:05Z', 'py': -23.531866666666662, 'px': -46.66304333333333, 'sv': None, 'is': None}]}, {'c': '877T-10', 'cl': 34149, 'sl': 2, 'lt0': 'METRÔ PARAÍSO', 'lt1': 'VL. ANASTÁCIO', 'qv': 1, 'vs': [{'p': '82409', 't': '23:14', 'a': True, 'ta': '2024-04-11T02:04:50Z', 'py': -23.53172833333333, 'px': -46.65930166666667, 'sv': None, 'is': None}]}, {'c': '8549-10', 'cl': 33348, 'sl': 2, 'lt0': 'PÇA. DO CORREIO', 'lt1': 'TAIPAS', 'qv': 1, 'vs': [{'p': '11780', 't': '23:14', 'a': True, 'ta': '2024-04-11T02:05:04Z', 'py': -23.532346666666665, 'px': -46.65795833333333, 'sv': None, 'is': None}]}, {'c': '8677-10', 'cl': 33211, 'sl': 2, 'lt0': 'LGO. DO PAISSANDÚ', 'lt1': 'JD. LÍBANO', 'qv': 1, 'vs': [{'p': '11807', 't': '23:15', 'a': True, 'ta': '2024-04-11T02:04:58Z', 'py': -23.532855, 'px': -46.65683333333333, 'sv': None, 'is': None}]}, {'c': '8594-10', 'cl': 33200, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': "CID. D'ABRIL ", 'qv': 1, 'vs': [{'p': '11468', 't': '23:17', 'a': True, 'ta': '2024-04-11T02:04:39Z', 'py': -23.53583, 'px': -46.651806666666666, 'sv': None, 'is': None}]}, {'c': '8622-10', 'cl': 33206, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': 'MORRO DOCE', 'qv': 1, 'vs': [{'p': '11115', 't': '23:18', 'a': True, 'ta': '2024-04-11T02:05:09Z', 'py': -23.537533333333332, 'px': -46.648583333333335, 'sv': None, 'is': None}]}, {'c': '178A-10', 'cl': 558, 'sl': 1, 'lt0': 'LAPA', 'lt1': 'METRÔ SANTANA', 'qv': 1, 'vs': [{'p': '21354', 't': '23:21', 'a': True, 'ta': '2024-04-11T02:04:55Z', 'py': -23.524728333333336, 'px': -46.64549166666667, 'sv': None, 'is': None}]}, {'c': '8400-10', 'cl': 34033, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': 'TERM. PIRITUBA', 'qv': 1, 'vs': [{'p': '11745', 't': '23:22', 'a': True, 'ta': '2024-04-11T02:04:42Z', 'py': -23.54167, 'px': -46.64133666666667, 'sv': None, 'is': None}]}, {'c': '874T-10', 'cl': 307, 'sl': 1, 'lt0': 'LAPA', 'lt1': 'IPIRANGA', 'qv': 1, 'vs': [{'p': '52038', 't': '23:51', 'a': True, 'ta': '2024-04-11T02:04:54Z', 'py': -23.588041666666662, 'px': -46.63024166666667, 'sv': None, 'is': None}]}]}}

       hr                                                  p
cp  23:05                                          480014609
np  23:05                                         DUILIO C/B
py  23:05                                         -23.522627
px  23:05                                         -46.692121
l   23:05  [{'c': '875H-10', 'cl': 34108, 'sl': 2, 'lt0':...