# Utilizando módulo Olho Vivo API

Módulos necessários até o momento:
- python-dotenv
- requests
- pandas

Para instalar no ambiente:
```
pip install python-dotenv requests pandas
```

---

In [1]:
# Importa dependências

import os
from dotenv import load_dotenv

Aqui é importante que seja copiado manualmente o arquivo .env com o TOKEN de acesso para a API do Olho Vivo.

Ref: https://www.sptrans.com.br/desenvolvedores/api-do-olho-vivo-guia-de-referencia/

In [2]:
# Importa o módulo api_olhovivo e autentica no Olho Vivo API
import sys
sys.path.insert(0, '../modules')
import api_olhovivo

load_dotenv()  # Carrega as variáveis de ambiente do arquivo .env
# Acesse o token de API do arquivo .env
api_token = os.getenv("API_TOKEN")

api = api_olhovivo.OlhoVivoAPI(api_token)

Autenticação bem-sucedida!

---

### Buscar informação de Linha de Ônibus
#### Argumento
- **termosBusca** (str): Aceita denominação ou número da linha (total ou parcial).
Exemplo: 8000, Lapa ou Ramos

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cl** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação)
- **lc** (bool): Indica se uma linha opera no modo circular (sem um terminal secundário)
- **lt** (string): Informa a primeira parte do letreiro numérico da linha
- **tl** (int): Informa a segunda parte do letreiro numérico da linha, que indica se a linha opera nos modos: BASE (10), ATENDIMENTO (21, 23, 32, 41)
- **sl** (int): Informa o sentido ao qual a linha atende, onde 1 significa Terminal Principal para Terminal Secundário e 2 para Terminal Secundário para Terminal Principal
- **tp** (string): Informa o letreiro descritivo da linha no sentido Terminal Principal para Terminal Secundário
- **ts** (string): Informa o letreiro descritivo da linha no sentido Terminal Secundário para Terminal Principal

In [3]:
# Faz uma chamada para obter informações sobre a linha 8040
info_linha = api.buscar_linha('8040')


# Imprime  informações sobre a linha 8040
import pandas as pd
df_info_linhas = pd.DataFrame(info_linha)
df_info_linhas

      cl     lc    lt  sl  tl          tp            ts
0    406  False  8040   1  10  TERM. LAPA  SOL NASCENTE
1  33174  False  8040   2  10  TERM. LAPA  SOL NASCENTE

---

### Buscar informação de Linha de Ônibus em sentido específico
Realiza uma busca das linhas do sistema com base no sentido da linha. Se a linha não é encontrada então é realizada uma busca fonetizada na denominação das linhas.

#### Argumento
- **codigoLinha** (str): O código da linha.
- **sentido** (str): O sentido da linha (1- ida ou 2-volta).

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cl** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação)
- **lc** (bool): Indica se uma linha opera no modo circular (sem um terminal secundário)
- **lt** (string): Informa a primeira parte do letreiro numérico da linha
- **tl** (int): Informa a segunda parte do letreiro numérico da linha, que indica se a linha opera nos modos: BASE (10), ATENDIMENTO (21, 23, 32, 41)
- **sl** (int): Informa o sentido ao qual a linha atende, onde 1 significa Terminal Principal para Terminal Secundário e 2 para Terminal Secundário para Terminal Principal
- **tp** (string): Informa o letreiro descritivo da linha no sentido Terminal Principal para Terminal Secundário
- **ts** (string): Informa o letreiro descritivo da linha no sentido Terminal Secundário para Terminal Principal

In [4]:
# Faz uma chamada para buscar informações sobre o sentido da linha 8040
info_linha_sentido = api.buscar_linha_sentido('8040','1')


# Imprime  informações sobre a linha 8040
import pandas as pd
df_info_linha_sentido = pd.DataFrame(info_linha_sentido)
df_info_linha_sentido

    cl     lc    lt  sl  tl          tp            ts
0  406  False  8040   1  10  TERM. LAPA  SOL NASCENTE

---

### Buscar paradas
Realiza uma busca fonética das paradas de ônibus do sistema com base no parâmetro informado. A consulta é realizada no nome da parada e também no seu endereço de localização.
        
#### Argumentos:
- **termosBusca** (str): Aceita nome da parada ou endereço de localização (total ou parcial).
Exemplo: Afonso, ou Balthazar da Veiga

#### Retorno:
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cp** (int): Código identificador da parada
- **np** (string): Nome da parada
- **ed** (string): Endereço de localização da parada
- **py** (double): Latitude da parada
- **px** (double): Longitude da parada

In [5]:
# Faz uma chamada para buscar informações sobre todas as paradas
info_paradas = api.buscar_paradas('Ciencia')


# Imprime  informações sobre a linha 8040
import pandas as pd
df_info_paradas = pd.DataFrame(info_paradas)
df_info_paradas

          cp           np                    ed         py         px
0  480014611  CIENCIA C/B  R SCIPIAO/ R AURELIA -23.521284 -46.698763

---

### Busca parada por Linha (Não está funcionando)
Realiza uma busca por todos os pontos de parada atendidos por uma determinada linha.

#### Argumento
- **codigoLinha** (str): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido) e pode ser obtido através do método buscar_linha da categoria Linhas

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cp** (int): Código identificador da parada
- **np** (string): Nome da parada
- **ed** (string): Endereço de localização da parada
- **py** (double): Latitude da parada
- **px** (double): Longitude da parada

In [6]:
# Faz uma chamada para buscar informações sobre as paradas da linha 8040
info_linha = api.buscar_linha('8040')
codigo_linha = info_linha[1]['cl']

info_paradas_linha = api.buscar_paradas_por_linha('406')


print(codigo_linha)
print(info_paradas_linha)

33174
[]

---

### Buscar Corredores (Faltam dados)
Retorna uma lista com todos os corredores inteligentes.

Retorna:
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cc** (int): Código identificador da corredor. Este é um código identificador único de cada corredor inteligente do sistema
- **nc** (string): Nome do corredor

In [7]:
# Faz uma chamada para buscar informações sobre as paradas do corredor
corredores = api.buscar_corredores()


# Imprime  informações de corredores
import pandas as pd
df_corredores = pd.DataFrame(corredores)
df_corredores

   cc                   nc
0   8          Campo Limpo
1   9  Expresso Tiradentes
2   3      Inajar de Souza
3   7          Parelheiros
4   1             Pirituba
5   2          Santo Amaro
6  10       Paes de Barros

---

### Buscar Paradas em Corredor
Retorna a lista detalhada de todas as paradas que compõem um determinado corredor.

#### Argumento
- **codigoCorredor** (str): Código identificador do corredor. Este é um código identificador único de cada corredor do sistema e pode ser obtido através do método buscar_corredores.

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cp** (int): Código indentificador da parada
- **np** (string): Nome da Parada
- **ed** (string): Endereço de localização da parada
- **py** (double): Informação de latitude da localização da parada
- **px** (double): Informação de longitude da localização da parada

In [8]:
# Faz uma chamada para buscar informações sobre as paradas do corredor 9
corredor = api.buscar_paradas_por_corredor('9')


# Imprime  informações de corredores
import pandas as pd
df_corredor = pd.DataFrame(corredor)
df_corredor

,cp,np,ed,py,px
0,3305795,CAY B/C,8000 - ESTACAO CAY BC,-23.574436,-46.603153
1,3305799,CAY C/B,8000 - ESTACAO CAY CB,-23.574453,-46.603180
2,1410076,ESTACAO ALBERTO LION B/C,6000 - ESTACAO ALBERTO LION BC,-23.564183,-46.611236
3,1410079,ESTACAO ALBERTO LION C/B,6000 - ESTACAO ALBERTO LION CB,-23.564195,-46.611271
4,1410078,ESTACAO ANA NERI C/B,5800 - ESTACAO ANA NERI CB,-23.559044,-46.614686
5,1410074,ESTAÇÃO METRÔ D. PEDRO B/C,5000 - ESTACAO METRO D. PEDRO BC,-23.550720,-46.626853
6,1410080,ESTAÇÃO METRÔ D. PEDRO C/B,5000 - ESTACAO METRO D. PEDRO CB,-23.550730,-46.626911
7,3305797,GRITO B/C,10000 - ESTACAO GRITO BC,-23.598138,-46.597172
8,3305801,GRITO C/B,10000 - ESTACAO GRITO CB,-23.598148,-46.597237
9,3305796,N.SRA APARECIDA B/C,9000 - ESTACAO NOSSA SENHORA DA APARECIDA (LEC...,-23.591353,-46.597779
10,3305800,N.SRA APARECIDA C/B,9000 - ESTACAO NOSSA SENHORA DA APARECIDA (LEC...,-23.591347,-46.597851

---

### Buscar Empresas
Retorna a lista de empresas operadoras de transporte disponíveis no sistema.

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **e** (dict): Dicionário com informações da Relação de empresas por área de operação, onde:
    - **a** (int): Código da área de operação
    - **e** (dict): Relação de empresa onde:
        - **a** (int): Código da área de operação
        - **c** (int): Código de referência da empresa
        - **n** (string): Nome da empresa

In [9]:
# Faz uma chamada para buscar informações sobre as empresas operadoras de transporte
empresas = api.buscar_empresas()

# Imprime  informações de empresas
import pandas as pd
df_empresas = pd.DataFrame(empresas)
df_empresas

      hr                                                  e
0  22:50  {'a': 1, 'e': [{'a': 1, 'c': 37, 'n': 'GATO PR...
1  22:50  {'a': 2, 'e': [{'a': 2, 'c': 92, 'n': 'SAMBAIB...
2  22:50  {'a': 3, 'e': [{'a': 3, 'c': 50, 'n': 'VIAÇÃO ...
3  22:50  {'a': 4, 'e': [{'a': 4, 'c': 80, 'n': 'AMBIENT...
4  22:50  {'a': 5, 'e': [{'a': 5, 'c': 51, 'n': 'VIA SUD...
5  22:50  {'a': 6, 'e': [{'a': 6, 'c': 53, 'n': 'VIAÇÃO ...
6  22:50  {'a': 7, 'e': [{'a': 7, 'c': 27, 'n': 'CAMPO B...
7  22:50  {'a': 8, 'e': [{'a': 8, 'c': 37, 'n': 'GATO PR...

---

### Posição dos Veículos
Retorna uma lista completa com a última localização de todos os veículos mapeados com suas devidas posições lat / long

#### Retorno
Um dicionário Python contendo a resposta da API, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **l** (dict): Dicionário Python contendo a Relação de linhas localizadas onde:
    - **c** (string): Letreiro completo
    - **cl** (int): Código identificador da linha
    - **sl** (int): Sentido de operação onde 1 significa de Terminal Principal para Terminal Alternativo e 2 significa de Terminal Alternativo para Terminal Principal
    - **lt0** (string): Letreiro de destino da linha
    - **lt1** (string): Letreiro de origem da linha
    - **qv** (int): Quantidade de veículos localizados
    - **vs** (dict): Dicionário Python contendo a Relação de veículos localizados, onde:
        - p (int): Prefixo do veículo
        - **a** (bool): Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
        - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
        - **py** (double): Informação de latitude da localização do veículo
        - **px** (double): Informação de longitude da localização do veículo

### ToDo
- Verificar a necessidade de otimização na recuperação dos dados

In [10]:
# Retorna a Posição do Veículos
posicao_veiculos = api.posicao_veiculos()

# Imprime informações sobre os Veículos
import pandas as pd
df_veiculos = pd.DataFrame(posicao_veiculos)
df_veiculos

         hr                                                  l
0     22:50  {'c': '1756-10', 'cl': 547, 'sl': 1, 'lt0': 'M...
1     22:50  {'c': '2123-10', 'cl': 33460, 'sl': 2, 'lt0': ...
2     22:50  {'c': '4312-10', 'cl': 2172, 'sl': 1, 'lt0': '...
3     22:50  {'c': '573T-10', 'cl': 34400, 'sl': 2, 'lt0': ...
4     22:50  {'c': '407T-10', 'cl': 2202, 'sl': 1, 'lt0': '...
...     ...                                                ...
1940  22:50  {'c': '476G-10', 'cl': 1111, 'sl': 1, 'lt0': '...
1941  22:50  {'c': '1016-10', 'cl': 831, 'sl': 1, 'lt0': 'S...
1942  22:50  {'c': '314V-10', 'cl': 33079, 'sl': 2, 'lt0': ...
1943  22:50  {'c': '809R-10', 'cl': 2067, 'sl': 1, 'lt0': '...
1944  22:50  {'c': '3746-10', 'cl': 283, 'sl': 1, 'lt0': 'M...

[1945 rows x 2 columns]

---

### Posição da Linha
Retorna uma lista com todos os veículos de uma determinada linha com suas devidas posições lat / long

#### Entrada
- **codigoLinha** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação) e pode ser obtido através do método buscar_linha.

#### Retorno:
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **vs** (dict): Relação de veículos localizados, onde:
    - **p** (int): Prefixo do veículo
    - **a** (bool): Relação de empresa
    - **a** (int):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
    - **c** (int):  Código de referência da empresa
    - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
    - **py** (double): Informação de latitude da localização da parada
    - **px** (double): Informação de longitude da localização da parada

In [11]:
# Faz chamada para buscar informações sobre as paradas da linha 8040
codigo_linha = api.buscar_linha('8040')[1]['cl']    # 0 significa que é a linha de ida e 1 a linha de volta
print(f"Código da Linha: {codigo_linha}")
posicao = api.posicao_linha(codigo_linha)

# Imprime  informações sobre a linha 8040
import pandas as pd
df_posicaoLinha = pd.DataFrame(posicao)
df_posicaoLinha

Código da Linha: 33174

      hr                                                 vs
0  22:50  {'p': '10545', 'a': True, 'ta': '2024-04-11T01...
1  22:50  {'p': '10224', 'a': True, 'ta': '2024-04-11T01...
2  22:50  {'p': '10604', 'a': True, 'ta': '2024-04-11T01...
3  22:50  {'p': '10548', 'a': True, 'ta': '2024-04-11T01...
4  22:50  {'p': '10542', 'a': True, 'ta': '2024-04-11T01...

---

### Posição dos veículos da Empresa na Garagem
Retorna uma lista com todos os veículos de uma determinada empresa em suas respectivas garagens

#### Entrada
- codigoEmpresa (int): Código identificador da empresa. Este é um código identificador único que
                    -pode ser obtido através do método buscar_empresas.
- codigoLinha (int, opcional): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação) e pode ser obtido através do método buscar_linha. Se não for informado, a API retornará todos os veículos da empresa.

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **l** (dict): Relação de linhas localizadas onde:
    - **c** (string):   Letreiro completo
    - **cl** (int):  Código identificador da linha
    - **sl** (int):  Sentido de operação onde 1 significa de Terminal Principal para Terminal Secundário e 2 de Terminal Secundário para Terminal Principal
    - **lt0** (string): Letreiro de destino da linha
    - **lt1** (string): Letreiro de origem da linha
    - **qv** (int):  Quantidade de veículos localizados
    - **vs** (dict): Relação de veículos localizados, onde:
        - **p** (int):  Prefixo do veículo
        - **a** (bool):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
        - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
        - **py** (double): Informação de latitude da localização do veículo
        - **px** (double): Informação de longitude da localização do veículo

In [12]:
# Funções auxiliares
import pandas as pd

def extrair_dados_empresas(resposta_api):
    """
    Extrai os dados das empresas da resposta da API.

    Parâmetros:
        resposta_api (dict): A resposta da API.

    Retorna:
        list: Uma lista de dicionários, cada um representando uma empresa.
    """
    dados_empresas = []  # Lista para armazenar os dados das empresas
    
    # Iterando sobre a resposta para extrair os dados
    for area in resposta_api["e"]:
        for empresa in area["e"]:
            # Cria um dicionário com os dados de cada empresa e adiciona à lista
            dados_empresas.append({"c": empresa["c"], "n": empresa["n"]})
    
    return dados_empresas

def criar_dataframe_empresas(dados_empresas):
    """
    Cria um DataFrame a partir de uma lista de dicionários com dados das empresas.

    Parâmetros:
        dados_empresas (list): Lista de dicionários com dados das empresas.

    Retorna:
        DataFrame: Um DataFrame contendo os dados das empresas.
    """
    return pd.DataFrame(dados_empresas)

# Faz uma chamada para buscar informações sobre as empresas operadoras de transporte
empresas = api.buscar_empresas()

dados_empresas = extrair_dados_empresas(empresas)
# print(dados_empresas)
df_dados_empresas = criar_dataframe_empresas(dados_empresas)

# Exibir o novo DataFrame contendo as informações de 'c' e 'n'
print(df_dados_empresas.head())

# Recupera Posição da Linha na garagem
nome_empresa = dados_empresas[4]['n']
codigo_empresa = dados_empresas[4]['c']

# Recupera código de uma linha (178L-10)
linha = '178L'
codigo_linha = api.buscar_linha(linha)[1]['cl']    # 0 significa que é a linha de ida e 1 a linha de volta

print(f"\nCódigo da empresa {nome_empresa}: {codigo_empresa}\n")
print(f"Código da Linha {linha}: {codigo_linha}\n")

# Chamada para recuperar a posição dos veículos de uma empresa na garagem (opcionalmente pode ter a linha também)
posicao = api.posicao_garagem(codigo_empresa, codigo_linha)
# print(posicao)

df_posicao = pd.DataFrame(posicao)
df_posicao

     c                n
0   37       GATO PRETO
1   38    SANTA BRIGIDA
2  232          Spencer
3  235  Norte Buss S.A.
4   92         SAMBAIBA

Código da empresa SAMBAIBA: 92

Código da Linha 178L: 33328

      hr                                                  l
0  22:50  {'c': '178L-10', 'cl': 33328, 'sl': 2, 'lt0': ...

---

### Previsão de Chegada

Retorna uma lista com a previsão de chegada dos veículos da linha informada que atende ao ponto de parada informado.

#### Entrada
- codigoParada (int): Código identificador da parada. Este é um código identificador único de cada ponto de parada do sistema (por sentido) e pode ser obtido através do método buscar_paradas
- codigoLinha (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido) e pode ser obtido através do método buscar_linha

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **p** (dict):  Representa um ponto de parada onde:
    - **cp** (int):  Código identificador da parada
    - **np** (string):  Nome da parada
    - **py** (double): Informação de latitude da localização do veículo
    - **px** (double): Informação de longitude da localização do veículo
    - **l** (dict): Relação de veículos localizados, onde:
        - **c** (string):  Letreiro completo
        - **cl** (int):  Código identificador da linha
        - **sl** (int):  Sentido de operação onde 1 significa de Terminal Principal para Terminal Secundário e 2 de Terminal Secundário para Terminal Principal
        - **lt0** (string): Letreiro de destino da linha
        - **lt1** (string): Letreiro de origem da linha
        - **qv** (int):  Quantidade de veículos localizados
        - **vs** (dict):  Relação de veículos localizados, onde:
            - **p** (int):  Prefixo do veículo
            - **t** (string):  Horário previsto para chegada do veículo no ponto de parada relacionado
            - **a** (bool):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
            - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
            - **py** (double): Informação de latitude da localização do veículo
            - **px** (double): Informação de longitude da localização do veículo

In [13]:
# Faz uma chamada para buscar informações sobre parada específica
codigo_parada = api.buscar_paradas('Duilio')
# print(codigo_parada)
codigo_parada = codigo_parada[0]['cp']

# Faz uma chamada para buscar informações sobre o sentido da linha 8622
codigo_linha_sentido = api.buscar_linha_sentido('8622','2')
# print(codigo_linha_sentido)
codigo_linha_sentido = codigo_linha_sentido[0]['cl']

# Faz chamada para buscar Previsão de Chegada
previsao = api.previsao_chegada(codigo_parada, codigo_linha_sentido)
# print(codigo_parada)
# print(codigo_linha_sentido)
print(previsao)

# Imprime  informações sobre previsão de chegada da linha 8622 na parada Duílio
import pandas as pd
df_previsao = pd.DataFrame(previsao)
df_previsao

{'hr': '22:50', 'p': {'cp': 480014609, 'np': 'DUILIO C/B', 'py': -23.522627, 'px': -46.692121, 'l': [{'c': '8622-10', 'cl': 33206, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': 'MORRO DOCE', 'qv': 2, 'vs': [{'p': '11067', 't': '22:55', 'a': True, 'ta': '2024-04-11T01:50:12Z', 'py': -23.526188333333334, 'px': -46.67450333333333, 'sv': None, 'is': None}, {'p': '11069', 't': '23:03', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}]}}

       hr                                                  p
cp  22:50                                          480014609
np  22:50                                         DUILIO C/B
py  22:50                                         -23.522627
px  22:50                                         -46.692121
l   22:50  [{'c': '8622-10', 'cl': 33206, 'sl': 2, 'lt0':...

---

### Previsão de Chegada da Linha em todas as suas paradas
Retorna uma lista com a previsão de chegada de cada um dos veículos da linha informada em todos os pontos de parada aos quais que ela atende.

#### Entrada
- codigoLinha (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido) e pode ser obtido através do método buscar_linha

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **ps** (dict): Representa uma relação de pontos de parada onde:
    - **cp** (int): Código identificador da parada
    - **np** (string): Nome da parada
    - **py** (double): Informação de latitude da localização do veículo
    - **px** (double): Informação de longitude da localização do veículo
    - **vs** (dict): Relação de veículos localizados, onde:
        - **p** (int):  Prefixo do veículo
        - **t** (string):  Horário previsto para chegada do veículo no ponto de parada relacionado
        - **a** (bool):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
        - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
        - **py** (double): Informação de latitude da localização do veículo
        - **px** (double): Informação de longitude da localização do veículo

In [14]:
# Faz uma chamada para buscar informações sobre o sentido da linha 8622
codigo_linha_sentido = api.buscar_linha_sentido('8622','2')
# print(codigo_linha_sentido)
codigo_linha_sentido = codigo_linha_sentido[0]['cl']


# Faz chamada para buscar Previsão de Chegada da Linha em suas paradas
previsao_linha = api.previsao_chegada_linha(codigo_linha_sentido)
# print(codigo_linha_sentido)
print(previsao_linha)

# Imprime  informações sobre previsão de chegada da linha 8622 na parada Duílio
import pandas as pd
df_previsao_linha = pd.DataFrame(previsao_linha)
df_previsao_linha

{'hr': '22:50', 'ps': [{'cp': 700016624, 'np': 'ANA CINTRA C/B', 'py': -23.538357, 'px': -46.64733, 'vs': []}, {'cp': 7014416, 'np': 'ANGELICA C/B', 'py': -23.534377, 'px': -46.654322, 'vs': [{'p': '11069', 't': '22:52', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 60016785, 'np': 'ANTARTICA C/B', 'py': -23.52622, 'px': -46.674187, 'vs': [{'p': '11069', 't': '22:58', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 614432, 'np': 'BABY BARIONY C/B', 'py': -23.527608, 'px': -46.671511, 'vs': [{'p': '11069', 't': '22:57', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 480014609, 'np': 'DUILIO C/B', 'py': -23.522627, 'px': -46.692121, 'vs': [{'p': '11067', 't': '22:55', 'a': True, 'ta': '2024-04-11T01:50:12Z', 'py': -23.526188333333334, 'px': -46.67450333333333, 'sv': None, 'is': None}, {'p': '11069', 't': '23:03', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 700016865, 'np': 'NOTHMANN C/B', 'py': -23.536498, 'px': -46.650579, 'vs': []}, {'cp': 700016792, 'np': 'PACAEMBU C/B', 'py': -23.531864, 'px': -46.660859, 'vs': [{'p': '11069', 't': '22:54', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 60016783, 'np': 'PARADA PALMEIRAS C/B', 'py': -23.525653, 'px': -46.679493, 'vs': [{'p': '11067', 't': '22:51', 'a': True, 'ta': '2024-04-11T01:50:12Z', 'py': -23.526188333333334, 'px': -46.67450333333333, 'sv': None, 'is': None}, {'p': '11069', 't': '22:59', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 60016789, 'np': 'PQ. DA ÁGUA BRANCA C/B', 'py': -23.529636, 'px': -46.667777, 'vs': [{'p': '11069', 't': '22:56', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 700006085, 'np': 'ROSA E SILVA C/B', 'py': -23.532629, 'px': -46.657465, 'vs': [{'p': '11069', 't': '22:53', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 60014604, 'np': 'SESC POMPEIA C/B', 'py': -23.525262, 'px': -46.682254, 'vs': [{'p': '11067', 't': '22:52', 'a': True, 'ta': '2024-04-11T01:50:12Z', 'py': -23.526188333333334, 'px': -46.67450333333333, 'sv': None, 'is': None}, {'p': '11069', 't': '23:00', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 480014610, 'np': 'TENDAL DA LAPA C/B', 'py': -23.522339, 'px': -46.696246, 'vs': [{'p': '11067', 't': '22:56', 'a': True, 'ta': '2024-04-11T01:50:12Z', 'py': -23.526188333333334, 'px': -46.67450333333333, 'sv': None, 'is': None}, {'p': '11069', 't': '23:04', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}, {'cp': 480014608, 'np': 'TIBERIO C/B', 'py': -23.522875, 'px': -46.688219, 'vs': [{'p': '11067', 't': '22:54', 'a': True, 'ta': '2024-04-11T01:50:12Z', 'py': -23.526188333333334, 'px': -46.67450333333333, 'sv': None, 'is': None}, {'p': '11069', 't': '23:02', 'a': True, 'ta': '2024-04-11T01:49:55Z', 'py': -23.536776666666665, 'px': -46.65024333333334, 'sv': None, 'is': None}]}]}

       hr                                                 ps
0   22:50  {'cp': 700016624, 'np': 'ANA CINTRA C/B', 'py'...
1   22:50  {'cp': 7014416, 'np': 'ANGELICA C/B', 'py': -2...
2   22:50  {'cp': 60016785, 'np': 'ANTARTICA C/B', 'py': ...
3   22:50  {'cp': 614432, 'np': 'BABY BARIONY C/B', 'py':...
4   22:50  {'cp': 480014609, 'np': 'DUILIO C/B', 'py': -2...
5   22:50  {'cp': 700016865, 'np': 'NOTHMANN C/B', 'py': ...
6   22:50  {'cp': 700016792, 'np': 'PACAEMBU C/B', 'py': ...
7   22:50  {'cp': 60016783, 'np': 'PARADA PALMEIRAS C/B',...
8   22:50  {'cp': 60016789, 'np': 'PQ. DA ÁGUA BRANCA C/B...
9   22:50  {'cp': 700006085, 'np': 'ROSA E SILVA C/B', 'p...
10  22:50  {'cp': 60014604, 'np': 'SESC POMPEIA C/B', 'py...
11  22:50  {'cp': 480014610, 'np': 'TENDAL DA LAPA C/B', ...
12  22:50  {'cp': 480014608, 'np': 'TIBERIO C/B', 'py': -...

---

### Previsão de Chegada de Cada Linha na Parada

Retorna uma lista com a previsão de chegada dos veículos de cada uma das linhas que atendem ao ponto de parada informado.

#### Entrada
- codigoParada (int): Código identificador da parada. Este é um código identificador único de cada ponto de parada do sistema (por sentido) e pode ser obtido através do método buscar_paradas

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **p** (dict): Representa um ponto de parada onde:
    - **cp** (int): Código identificador da parada
    - **np** (string): Nome da parada
    - **py** (double): Informação de latitude da localização do veículo
    - **px** (double): Informação de longitude da localização do veículo
    - **l** (dict): Relação de linhas localizadas onde:
        - **c** (string):  Letreiro completo
        - **cl** (int):  Código identificador da linha
        - **sl** (int):  Sentido de operação onde 1 significa de Terminal Principal para Terminal Secundário e 2 de Terminal Secundário para Terminal Principal
        - **lt0** (string): Letreiro de destino da linha
        - **lt1** (string): Letreiro de origem da linha
        - **qv** (int):  Quantidade de veículos localizados
        - **vs** (dict): Relação de veículos localizados, onde:
            - **p** (int):  Prefixo do veículo
            - **t** (string):  Horário previsto para chegada do veículo no ponto de parada relacionado
            - **a** (bool):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
            - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
            - **py** (double): Informação de latitude da localização do veículo
            - **px** (double): Informação de longitude da localização do veículo

In [15]:
# Faz uma chamada para buscar informações sobre parada específica
codigo_parada = api.buscar_paradas('Duilio')
# print(codigo_parada)
codigo_parada = codigo_parada[0]['cp']

# Faz chamada para buscar Previsão de Chegada da Linha em parada específica
previsao = api.previsao_parada(codigo_parada)
print(previsao)

# Imprime  informações sobre previsão de chegada da linha 8622 na parada Duílio
import pandas as pd
df_previsao = pd.DataFrame(previsao)
df_previsao

{'hr': '22:57', 'p': {'cp': 480014609, 'np': 'DUILIO C/B', 'py': -23.522627, 'px': -46.692121, 'l': [{'c': '8055-51', 'cl': 33185, 'sl': 2, 'lt0': 'METRÔ BARRA FUNDA', 'lt1': 'PERUS', 'qv': 1, 'vs': [{'p': '11701', 't': '22:59', 'a': True, 'ta': '2024-04-11T01:57:45Z', 'py': -23.524020000000004, 'px': -46.68463166666667, 'sv': None, 'is': None}]}, {'c': '8549-10', 'cl': 33348, 'sl': 2, 'lt0': 'PÇA. DO CORREIO', 'lt1': 'TAIPAS', 'qv': 2, 'vs': [{'p': '11779', 't': '23:00', 'a': True, 'ta': '2024-04-11T01:57:49Z', 'py': -23.525346666666664, 'px': -46.682243333333325, 'sv': None, 'is': None}, {'p': '11780', 't': '23:13', 'a': True, 'ta': '2024-04-11T01:57:53Z', 'py': -23.54041333333333, 'px': -46.643735, 'sv': None, 'is': None}]}, {'c': '938C-10', 'cl': 33354, 'sl': 2, 'lt0': 'TERM. PRINC. ISABEL', 'lt1': 'COHAB TAIPAS', 'qv': 1, 'vs': [{'p': '11816', 't': '23:00', 'a': True, 'ta': '2024-04-11T01:57:41Z', 'py': -23.525338333333334, 'px': -46.682143333333336, 'sv': None, 'is': None}]}, {'c': '856R-10', 'cl': 34196, 'sl': 2, 'lt0': 'SOCORRO', 'lt1': 'LAPA', 'qv': 5, 'vs': [{'p': '82655', 't': '23:00', 'a': True, 'ta': '2024-04-11T01:57:35Z', 'py': -23.526141666666664, 'px': -46.68239833333334, 'sv': None, 'is': None}, {'p': '82563', 't': '23:08', 'a': True, 'ta': '2024-04-11T01:57:49Z', 'py': -23.534066666666664, 'px': -46.68711, 'sv': None, 'is': None}, {'p': '82618', 't': '23:11', 'a': True, 'ta': '2024-04-11T01:56:26Z', 'py': -23.541600000000003, 'px': -46.68212833333334, 'sv': None, 'is': None}, {'p': '82704', 't': '23:28', 'a': True, 'ta': '2024-04-11T01:57:49Z', 'py': -23.58003666666667, 'px': -46.68499, 'sv': None, 'is': None}, {'p': '82438', 't': '23:34', 'a': True, 'ta': '2024-04-11T01:57:21Z', 'py': -23.58421166666667, 'px': -46.673346666666674, 'sv': None, 'is': None}]}, {'c': '129F-10', 'cl': 35072, 'sl': 2, 'lt0': 'METRÔ BARRA FUNDA', 'lt1': 'CONEXÃO PETRÔNIO PORTELA', 'qv': 1, 'vs': [{'p': '11084', 't': '23:00', 'a': True, 'ta': '2024-04-11T01:57:46Z', 'py': -23.525441666666666, 'px': -46.681760000000004, 'sv': None, 'is': None}]}, {'c': '8400-10', 'cl': 34033, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': 'TERM. PIRITUBA', 'qv': 1, 'vs': [{'p': '11737', 't': '23:01', 'a': True, 'ta': '2024-04-11T01:57:40Z', 'py': -23.525658333333332, 'px': -46.679731666666676, 'sv': None, 'is': None}]}, {'c': '8677-10', 'cl': 33211, 'sl': 2, 'lt0': 'LGO. DO PAISSANDÚ', 'lt1': 'JD. LÍBANO', 'qv': 1, 'vs': [{'p': '11805', 't': '23:04', 'a': True, 'ta': '2024-04-11T01:57:38Z', 'py': -23.527728333333336, 'px': -46.67135499999999, 'sv': None, 'is': None}]}, {'c': '8594-10', 'cl': 33200, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': "CID. D'ABRIL ", 'qv': 1, 'vs': [{'p': '11839', 't': '23:04', 'a': True, 'ta': '2024-04-11T01:57:51Z', 'py': -23.52775, 'px': -46.67138833333333, 'sv': None, 'is': None}]}, {'c': '8622-10', 'cl': 33206, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': 'MORRO DOCE', 'qv': 1, 'vs': [{'p': '11069', 't': '23:04', 'a': True, 'ta': '2024-04-11T01:57:41Z', 'py': -23.528055000000002, 'px': -46.670745000000004, 'sv': None, 'is': None}]}, {'c': '874T-10', 'cl': 307, 'sl': 1, 'lt0': 'LAPA', 'lt1': 'IPIRANGA', 'qv': 3, 'vs': [{'p': '52023', 't': '23:04', 'a': True, 'ta': '2024-04-11T01:57:32Z', 'py': -23.531873333333337, 'px': -46.67354333333333, 'sv': None, 'is': None}, {'p': '52029', 't': '23:29', 'a': True, 'ta': '2024-04-11T01:57:51Z', 'py': -23.559305000000002, 'px': -46.65863666666667, 'sv': None, 'is': None}, {'p': '52038', 't': '23:53', 'a': True, 'ta': '2024-04-11T01:57:31Z', 'py': -23.563271666666665, 'px': -46.62014666666667, 'sv': None, 'is': None}]}, {'c': '8000-1', 'cl': 35274, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': 'TERM. LAPA', 'qv': 1, 'vs': [{'p': '12600', 't': '23:05', 'a': True, 'ta': '2024-04-11T01:57:34Z', 'py': -23.529653333333332, 'px': -46.667905000000005, 'sv': None, 'is': None}]}, {'c': '875H-10', 'cl': 34108, 'sl': 2, 'lt0': 'METRÔ VL. MARIANA', 'lt1': 'TERM. LAPA', 'qv': 1, 'vs': [{'p': '82775', 't': '23:06', 'a': True, 'ta': '2024-04-11T01:57:24Z', 'py': -23.538376666666668, 'px': -46.67441833333334, 'sv': None, 'is': None}]}, {'c': '978J-10', 'cl': 33359, 'sl': 2, 'lt0': 'TERM. PRINC. ISABEL', 'lt1': 'VOITH', 'qv': 1, 'vs': [{'p': '11742', 't': '23:07', 'a': True, 'ta': '2024-04-11T01:57:37Z', 'py': -23.532780000000002, 'px': -46.657348333333324, 'sv': None, 'is': None}]}, {'c': '8686-10', 'cl': 33214, 'sl': 2, 'lt0': 'LGO. DO PAISSANDÚ', 'lt1': 'MANGALOT', 'qv': 1, 'vs': [{'p': '11770', 't': '23:10', 'a': True, 'ta': '2024-04-11T01:57:55Z', 'py': -23.536558333333332, 'px': -46.650681666666664, 'sv': None, 'is': None}]}, {'c': '8615-10', 'cl': 34107, 'sl': 2, 'lt0': 'TERM. PQ. D. PEDRO II', 'lt1': 'PQ. DA LAPA', 'qv': 1, 'vs': [{'p': '82410', 't': '23:10', 'a': True, 'ta': '2024-04-11T01:57:38Z', 'py': -23.536558333333332, 'px': -46.650525, 'sv': None, 'is': None}]}, {'c': '1896-10', 'cl': 35288, 'sl': 2, 'lt0': 'PÇA. RAMOS DE AZEVEDO', 'lt1': 'JARAGUÁ', 'qv': 1, 'vs': [{'p': '11461', 't': '23:12', 'a': True, 'ta': '2024-04-11T01:57:53Z', 'py': -23.538383333333332, 'px': -46.64724833333333, 'sv': None, 'is': None}]}, {'c': '877T-10', 'cl': 34149, 'sl': 2, 'lt0': 'METRÔ PARAÍSO', 'lt1': 'VL. ANASTÁCIO', 'qv': 1, 'vs': [{'p': '82409', 't': '23:14', 'a': True, 'ta': '2024-04-11T01:57:29Z', 'py': -23.537134999999996, 'px': -46.65458666666667, 'sv': None, 'is': None}]}, {'c': '178A-10', 'cl': 558, 'sl': 1, 'lt0': 'LAPA', 'lt1': 'METRÔ SANTANA', 'qv': 1, 'vs': [{'p': '21354', 't': '23:20', 'a': True, 'ta': '2024-04-11T01:57:32Z', 'py': -23.528301666666668, 'px': -46.631635, 'sv': None, 'is': None}]}]}}

       hr                                                  p
cp  22:57                                          480014609
np  22:57                                         DUILIO C/B
py  22:57                                         -23.522627
px  22:57                                         -46.692121
l   22:57  [{'c': '8055-51', 'cl': 33185, 'sl': 2, 'lt0':...