# Utilizando módulo Olho Vivo API

Módulos necessários até o momento:
- python-dotenv
- requests
- pandas

Para instalar no ambiente:
```
pip install python-dotenv requests pandas
```

---

In [1]:
# Importa dependências

import os
from dotenv import load_dotenv

Aqui é importante que seja copiado manualmente o arquivo .env com o TOKEN de acesso para a API do Olho Vivo.

Ref: https://www.sptrans.com.br/desenvolvedores/api-do-olho-vivo-guia-de-referencia/

In [2]:
# Importa o módulo api_olhovivo e autentica no Olho Vivo API
import sys
sys.path.insert(0, '../modules')
import api_olhovivo

load_dotenv()  # Carrega as variáveis de ambiente do arquivo .env
# Acesse o token de API do arquivo .env
api_token = os.getenv("API_TOKEN")

api = api_olhovivo.OlhoVivoAPI(api_token)

Autenticação bem-sucedida!

---

### Buscar informação de Linha de Ônibus
#### Argumento
- **termosBusca** (str): Aceita denominação ou número da linha (total ou parcial).
Exemplo: 8000, Lapa ou Ramos

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cl** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação)
- **lc** (bool): Indica se uma linha opera no modo circular (sem um terminal secundário)
- **lt** (string): Informa a primeira parte do letreiro numérico da linha
- **tl** (int): Informa a segunda parte do letreiro numérico da linha, que indica se a linha opera nos modos: BASE (10), ATENDIMENTO (21, 23, 32, 41)
- **sl** (int): Informa o sentido ao qual a linha atende, onde 1 significa Terminal Principal para Terminal Secundário e 2 para Terminal Secundário para Terminal Principal
- **tp** (string): Informa o letreiro descritivo da linha no sentido Terminal Principal para Terminal Secundário
- **ts** (string): Informa o letreiro descritivo da linha no sentido Terminal Secundário para Terminal Principal

In [3]:
# Faz uma chamada para obter informações sobre a linha 8040
info_linha = api.buscar_linha('8040')


# Imprime  informações sobre a linha 8040
import pandas as pd
df_info_linhas = pd.DataFrame(info_linha)
df_info_linhas

      cl     lc    lt  sl  tl          tp            ts
0    406  False  8040   1  10  TERM. LAPA  SOL NASCENTE
1  33174  False  8040   2  10  TERM. LAPA  SOL NASCENTE

---

### Buscar informação de Linha de Ônibus em sentido específico
Realiza uma busca das linhas do sistema com base no sentido da linha. Se a linha não é encontrada então é realizada uma busca fonetizada na denominação das linhas.

#### Argumento
- **codigoLinha** (str): O código da linha.
- **sentido** (str): O sentido da linha (1- ida ou 2-volta).

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cl** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação)
- **lc** (bool): Indica se uma linha opera no modo circular (sem um terminal secundário)
- **lt** (string): Informa a primeira parte do letreiro numérico da linha
- **tl** (int): Informa a segunda parte do letreiro numérico da linha, que indica se a linha opera nos modos: BASE (10), ATENDIMENTO (21, 23, 32, 41)
- **sl** (int): Informa o sentido ao qual a linha atende, onde 1 significa Terminal Principal para Terminal Secundário e 2 para Terminal Secundário para Terminal Principal
- **tp** (string): Informa o letreiro descritivo da linha no sentido Terminal Principal para Terminal Secundário
- **ts** (string): Informa o letreiro descritivo da linha no sentido Terminal Secundário para Terminal Principal

In [4]:
# Faz uma chamada para buscar informações sobre o sentido da linha 8040
info_linha_sentido = api.buscar_linha_sentido('8040','1')


# Imprime  informações sobre a linha 8040
import pandas as pd
df_info_linha_sentido = pd.DataFrame(info_linha_sentido)
df_info_linha_sentido

    cl     lc    lt  sl  tl          tp            ts
0  406  False  8040   1  10  TERM. LAPA  SOL NASCENTE

---

### Buscar paradas
Realiza uma busca fonética das paradas de ônibus do sistema com base no parâmetro informado. A consulta é realizada no nome da parada e também no seu endereço de localização.
        
#### Argumentos:
- **termosBusca** (str): Aceita nome da parada ou endereço de localização (total ou parcial).
Exemplo: Afonso, ou Balthazar da Veiga

#### Retorno:
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cp** (int): Código identificador da parada
- **np** (string): Nome da parada
- **ed** (string): Endereço de localização da parada
- **py** (double): Latitude da parada
- **px** (double): Longitude da parada

In [5]:
# Faz uma chamada para buscar informações sobre todas as paradas
info_paradas = api.buscar_paradas('Ciencia')


# Imprime  informações sobre a linha 8040
import pandas as pd
df_info_paradas = pd.DataFrame(info_paradas)
df_info_paradas

          cp           np                    ed         py         px
0  480014611  CIENCIA C/B  R SCIPIAO/ R AURELIA -23.521284 -46.698763

---

### Busca parada por Linha (Não está funcionando)
Realiza uma busca por todos os pontos de parada atendidos por uma determinada linha.

#### Argumento
- **codigoLinha** (str): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido) e pode ser obtido através do método buscar_linha da categoria Linhas

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cp** (int): Código identificador da parada
- **np** (string): Nome da parada
- **ed** (string): Endereço de localização da parada
- **py** (double): Latitude da parada
- **px** (double): Longitude da parada

In [6]:
# Faz uma chamada para buscar informações sobre as paradas da linha 8040
info_linha = api.buscar_linha('8040')
codigo_linha = info_linha[1]['cl']

info_paradas_linha = api.buscar_paradas_por_linha('406')


print(codigo_linha)
print(info_paradas_linha)

33174
[]

---

### Buscar Corredores (Faltam dados)
Retorna uma lista com todos os corredores inteligentes.

Retorna:
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cc** (int): Código identificador da corredor. Este é um código identificador único de cada corredor inteligente do sistema
- **nc** (string): Nome do corredor

In [7]:
# Faz uma chamada para buscar informações sobre as paradas do corredor
corredores = api.buscar_corredores()


# Imprime  informações de corredores
import pandas as pd
df_corredores = pd.DataFrame(corredores)
df_corredores

   cc                   nc
0   8          Campo Limpo
1   9  Expresso Tiradentes
2   3      Inajar de Souza
3   7          Parelheiros
4   1             Pirituba
5   2          Santo Amaro
6  10       Paes de Barros

---

### Buscar Paradas em Corredor
Retorna a lista detalhada de todas as paradas que compõem um determinado corredor.

#### Argumento
- **codigoCorredor** (str): Código identificador do corredor. Este é um código identificador único de cada corredor do sistema e pode ser obtido através do método buscar_corredores.

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **cp** (int): Código indentificador da parada
- **np** (string): Nome da Parada
- **ed** (string): Endereço de localização da parada
- **py** (double): Informação de latitude da localização da parada
- **px** (double): Informação de longitude da localização da parada

In [8]:
# Faz uma chamada para buscar informações sobre as paradas do corredor 9
corredor = api.buscar_paradas_por_corredor('9')


# Imprime  informações de corredores
import pandas as pd
df_corredor = pd.DataFrame(corredor)
df_corredor

,cp,np,ed,py,px
0,3305795,CAY B/C,8000 - ESTACAO CAY BC,-23.574436,-46.603153
1,3305799,CAY C/B,8000 - ESTACAO CAY CB,-23.574453,-46.603180
2,1410076,ESTACAO ALBERTO LION B/C,6000 - ESTACAO ALBERTO LION BC,-23.564183,-46.611236
3,1410079,ESTACAO ALBERTO LION C/B,6000 - ESTACAO ALBERTO LION CB,-23.564195,-46.611271
4,1410078,ESTACAO ANA NERI C/B,5800 - ESTACAO ANA NERI CB,-23.559044,-46.614686
5,1410074,ESTAÇÃO METRÔ D. PEDRO B/C,5000 - ESTACAO METRO D. PEDRO BC,-23.550720,-46.626853
6,1410080,ESTAÇÃO METRÔ D. PEDRO C/B,5000 - ESTACAO METRO D. PEDRO CB,-23.550730,-46.626911
7,3305797,GRITO B/C,10000 - ESTACAO GRITO BC,-23.598138,-46.597172
8,3305801,GRITO C/B,10000 - ESTACAO GRITO CB,-23.598148,-46.597237
9,3305796,N.SRA APARECIDA B/C,9000 - ESTACAO NOSSA SENHORA DA APARECIDA (LEC...,-23.591353,-46.597779
10,3305800,N.SRA APARECIDA C/B,9000 - ESTACAO NOSSA SENHORA DA APARECIDA (LEC...,-23.591347,-46.597851

---

### Buscar Empresas
Retorna a lista de empresas operadoras de transporte disponíveis no sistema.

#### Retorno
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **e** (dict): Dicionário com informações da Relação de empresas por área de operação, onde:
    - **a** (int): Código da área de operação
    - **e** (dict): Relação de empresa onde:
        - **a** (int): Código da área de operação
        - **c** (int): Código de referência da empresa
        - **n** (string): Nome da empresa

In [9]:
# Faz uma chamada para buscar informações sobre as empresas operadoras de transporte
empresas = api.buscar_empresas()

# Imprime  informações de empresas
import pandas as pd
df_empresas = pd.DataFrame(empresas)
df_empresas

      hr                                                  e
0  21:30  {'a': 1, 'e': [{'a': 1, 'c': 37, 'n': 'GATO PR...
1  21:30  {'a': 2, 'e': [{'a': 2, 'c': 92, 'n': 'SAMBAIB...
2  21:30  {'a': 3, 'e': [{'a': 3, 'c': 50, 'n': 'VIAÇÃO ...
3  21:30  {'a': 4, 'e': [{'a': 4, 'c': 80, 'n': 'AMBIENT...
4  21:30  {'a': 5, 'e': [{'a': 5, 'c': 51, 'n': 'VIA SUD...
5  21:30  {'a': 6, 'e': [{'a': 6, 'c': 53, 'n': 'VIAÇÃO ...
6  21:30  {'a': 7, 'e': [{'a': 7, 'c': 27, 'n': 'CAMPO B...
7  21:30  {'a': 8, 'e': [{'a': 8, 'c': 37, 'n': 'GATO PR...

---

### Posição dos Veículos
Retorna uma lista completa com a última localização de todos os veículos mapeados com suas devidas posições lat / long

#### Retorno
Um dicionário Python contendo a resposta da API, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **l** (dict): Dicionário Python contendo a Relação de linhas localizadas onde:
    - **c** (string): Letreiro completo
    - **cl** (int): Código identificador da linha
    - **sl** (int): Sentido de operação onde 1 significa de Terminal Principal para Terminal Alternativo e 2 significa de Terminal Alternativo para Terminal Principal
    - **lt0** (string): Letreiro de destino da linha
    - **lt1** (string): Letreiro de origem da linha
    - **qv** (int): Quantidade de veículos localizados
    - **vs** (dict): Dicionário Python contendo a Relação de veículos localizados, onde:
        - p (int): Prefixo do veículo
        - **a** (bool): Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
        - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
        - **py** (double): Informação de latitude da localização do veículo
        - **px** (double): Informação de longitude da localização do veículo

In [10]:
# Retorna a Posição do Veículos
posicao_veiculos = api.posicao_veiculos()

# Imprime informações sobre os Veículos
import pandas as pd
df_veiculos = pd.DataFrame(posicao_veiculos)
df_veiculos

         hr                                                  l
0     21:30  {'c': '178L-10', 'cl': 560, 'sl': 1, 'lt0': 'H...
1     21:30  {'c': '6913-10', 'cl': 1465, 'sl': 1, 'lt0': '...
2     21:30  {'c': '5111-10', 'cl': 48, 'sl': 1, 'lt0': 'TE...
3     21:30  {'c': '129F-10', 'cl': 35072, 'sl': 2, 'lt0': ...
4     21:30  {'c': '2678-10', 'cl': 383, 'sl': 1, 'lt0': 'T...
...     ...                                                ...
1633  21:30  {'c': '2722-31', 'cl': 936, 'sl': 1, 'lt0': 'J...
1634  21:30  {'c': '7006-10', 'cl': 34763, 'sl': 2, 'lt0': ...
1635  21:30  {'c': '6078-10', 'cl': 33934, 'sl': 2, 'lt0': ...
1636  21:30  {'c': '6L02-10', 'cl': 1178, 'sl': 1, 'lt0': '...
1637  21:30  {'c': '6L03-10', 'cl': 34333, 'sl': 2, 'lt0': ...

[1638 rows x 2 columns]

---

### Posição da Linha
Retorna uma lista com todos os veículos de uma determinada linha com suas devidas posições lat / long

#### Entrada
- **codigoLinha** (int): Código identificador da linha. Este é um código identificador único de cada linha do sistema (por sentido de operação) e pode ser obtido através do método buscar_linha.

#### Retorno:
A resposta da API convertida em um dicionário Python, ou None se a requisição falhar.
- **hr** (string): Horário de referência da geração das informações
- **vs** (dict): Relação de veículos localizados, onde:
    - **p** (int): Prefixo do veículo
    - **a** (bool): Relação de empresa
    - **a** (int):  Indica se o veículo é (true) ou não (false) acessível para pessoas com deficiência
    - **c** (int):  Código de referência da empresa
    - **ta** (string): Indica o horário universal (UTC) em que a localização foi capturada. Essa informação está no padrão ISO 8601
    - **py** (double): Informação de latitude da localização da parada
    - **px** (double): Informação de longitude da localização da parada

In [11]:
# Faz chamada para buscar informações sobre as paradas da linha 8040
codigo_linha = api.buscar_linha('8040')[0]['cl']    # 0 significa que é a linha de ida e 1 a linha de volta
print(f"Código da Linha: {codigo_linha}")
posicao = api.posicao_linha(codigo_linha)

# Imprime  informações sobre a linha 8040
import pandas as pd
df_posicaoLinha = pd.DataFrame(posicao)
df_posicaoLinha

Código da Linha: 406

      hr                                                 vs
0  21:30  {'p': '10545', 'a': True, 'ta': '2024-04-08T00...
1  21:30  {'p': '10547', 'a': True, 'ta': '2024-04-08T00...